/* Add font face */
@import url('/css/font.css');

/* -----------------------------------------Css Reset */
*
,*::before
,*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* list-style-type: none; */
}

/* --------------------------------------Root variable */
:root{
  --color-navbar: #F8F8F8;
  --color-primary: #FF5722;
  --color-primary-light: #FF7A50;
  --color-secondary-dark: #FFA589;
  --color-secodary-light: #FFF6F2;
  --color-heading: #000000;
  --color-body: #333333;
  --color-white: #FFFFFF;
  --color-badge-primary: #f06f38;
  --color-badge-secondary: #FFF6F2;
  --color-icon: #ff8000;
  --color-input: #F5F5F5;
  --color-border-input: #E8E8E8;
}
/* -------------------------------------------Font size */
html{
  font-size: 62.5%;
}

/* -------------------------------------------------body */
body{
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}
/* end body--------------------------------------------- */

/* ---------------------------------------------heading */
h1
,h2
,h3{
  color: var(--color-heading);
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
}
h2
,h3{
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}


/*responsive for font-size */
@media screen and (min-width:1024px){
  body{
    font-size: 1.8rem;
  }
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
  h3{
    font-size: 2.8rem;
  }
}
/* end heading---------------------------------------- */


/* ---------------------------------------------Button */
.btn{
  outline: 0;
  border: 0;
  border-radius: 8px;
  padding: 2rem 2.5rem;
  cursor: pointer;
  margin: 1rem 0;
  font-family: "Vazirmatn";
  white-space: nowrap;
  font-size: 1.4rem; 
}
.btn--primary{
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary{
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

/* buttons in plan section */
.btn-block{
  width: 100%;
  font-size: 1.6rem;
}

/* responsive button */
@media screen and (min-width:1024px){
  .btn{
    font-size: 1.6rem;
  }
  .btn-block{
    font-size: 2rem;
  }
}
/* end button---------------------------------------- */

/* ---------------------------------------------Badge */
.badge{
  display: inline-block;  
  outline: 0;
  border-radius: 32px;
  cursor: pointer;
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  font-weight: 500;

  text-align: center;
  text-transform: uppercase;
}
.badge--primary{
  background-color: var(--color-primary);
  color: var(--color-white);
}
.badge--secondary{
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-badge-secondary);
}

/* responsive badge */
@media screen and (min-width:1024px){
  .badge{
    font-size: 1.4rem;
  }
}
/* end badge------------------------------------------- */

/* ------------------------------------------------List */
.list{
  list-style: none;
  font-size: 1.8rem;
}
 .list--tick .list__item{
  background: url("/assets/images/Tick-Square.svg") no-repeat;
  background-position: right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
 }
 @media screen and (min-width:1024px) {
    .list{
      font-size: 2rem;
      margin-bottom: 2rem;
    }
 }
 /* end list-------------------------------------------- */

 /* ------------------------------------------------Plan */
 .block-plans{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,320px));
  justify-content: center;
  gap: 10rem 6rem;
  margin-top: 5rem;
  margin: 0 auto;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
.plan{
  font-size: 1.8rem;
  transition: all 0.3s;
}
.card{
  box-shadow: 0 0 20px 10px #eec6c6;
  border-radius: 20px;
  overflow: hidden;
}
.card--secondary .card__header{
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
.card--primary .card__header{
  background-color: var(--color-primary-light);
  color: var(--color-white);
}
.plan__body{
  background-color: var(--color-secodary-light);
 }
 .card__header
 ,.plan__body{
  padding: 2.5rem 3rem;
 }
 
 /* detail plan header */
.plan__introduction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
 }
 .plan__price{
  font-size: 2.8rem;
 }
 .plan__payment{
  font-size: 1.4rem;
 }
 .plan__description{
  display: block;
  margin-top: 1.5rem;
 }

 /*detail plan body  */
.plan .btn-block{
  font-size: 1.6rem;
  margin-top: 10rem;
}
/* detail paln */
.plan:hover{
  transform: scale(1.05);

}
.plan--popular:hover{
  transform: scale(1.15);
}
.plan--popular{
  transform: scale(1.1);
}
/* responsive plan */
 @media screen and (min-width:1024px){
 
  .plan .btn-block{
    font-size: 1.8rem;
  }
 }
/* end plan------------------------------------------------ */


/* -------------------------------------------------feature */
.feature{
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
  align-items: center;
}
.feature__image img{
 width: 70%;
 height: auto;
  margin-bottom: 2rem;
} 
.feature__detail .feature__text{
  font-size: 1.4rem;
  margin-bottom: 2rem;
} 
.feature .btn{
  padding: 1rem 3rem;
}
/* responsive feature */
@media screen and (min-width:1024px){
  .feature{
    grid-template-columns: repeat(2,1fr);
    padding-right: 2rem;
    column-gap: 2rem;
  }
  .feature__image{
    order: 1;
  }
  .feature__image img{
    width: 100%;
  }
  .feature__detail .feature__text{
    font-size: 1.8rem;
  }
}
/* end feature--------------------------------------------------*/


/* --------------------------------------------------contact us */
.contact-us{
  display: grid;
  grid-template-areas: 
  "title"
  "icon"
  "information"
  "form";
}
/* title contact us*/
.contact-us__title{
  grid-area: title;
  text-align: center;
}
.contact-us__title h2{
  font-size: 2.5rem;
}
.contact-us__title h4{
  font-size: 2rem;
}
/* social media */
.contact-us__social{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 40px;
  color: var(--color-icon);
  cursor: pointer;
  margin: 30px 0  90px 0;
}
/* map */
.contact-us__map{
  display: none;
}
.contact-us__map img{
  width: 100%;
  height: 400px;
}
/* icon*/
.contact-us__icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 40px;
  padding-left:  2rem;
  color:var(--color-icon);
  cursor: pointer;
  height: 140px;
  margin-bottom: 2rem;
}
.contact-us__icon i span{
  color: var(--color-heading);
  font-size: 1.4rem;
  padding-left: 2rem;
  letter-spacing: 0.3rem;
}

/* form */

.contact-us__form{
  background-color: var(--color-white);
  box-shadow: 0px 13px 19px 0 rgb(178, 170, 170);
  border: 1px solid #DDDDDD;
  border-radius: 15px;
  font-family: "Vazirmatn";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px  2rem  2rem  2rem;
  height: 100%;
}
.contact-us__form .contact__title{
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  
}
.form-control{
  margin-bottom: 22px;
}
.contact-us__form input{
  outline: 0;
  border: 2px solid var(--color-border-input);
  border-radius: 39px;
  padding: 10px 29px;
  background-color: var(--color-input);
  color: var(--color-body);
  font-family: "Vazirmatn";
}
.contact-us__form textarea{
  width: 220px;
  resize: none;
  border: 2px solid var(--color-border-input);
  background-color: var(--color-input);
  outline: 0;
  color: var(--color-body);
  padding: 1rem;
}
::placeholder{
  font-family: "Vazirmatn";
  font-size: 1.2rem;
  color: var(--color-body);
}
.contact-us__form input:focus
,.contact-us__form textarea:focus{
  border: 1px solid var(--color-primary);
}

/* button */
.contact-us__form .btn-submit{
  outline: 0;
  border: 1px solid var(--color-primary);
  border-radius: 35px;
  color: var(--color-white);
  padding: 1rem 76px;
  background-color: var(--color-primary);
  font-family: "Vazirmatn";
  cursor: pointer;
}

/* responsive contact-us */
@media screen and (min-width:1024px){
  .contact-us{
    grid-template-columns: 70fr 30fr;
    grid-template-areas: 
    "title  title"
    "information  form"
    "map          form"
    "icon         form";
  }
  .contact-us__social{
    grid-area: icon;
    display: flex;
    justify-content: flex-end;
  }
  .contact-us__social i{
    margin-left: 2rem;
  }

  /* icon */
  .contact-us__icon{
    grid-area: information;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 8rem;
  }

  /* map */
  .contact-us__map{
    display: block;
    grid-area: map;
  }
  /* form */
  .contact-us__form{
    grid-area: form;
    margin-right: 50px;
    height: 600px;
    margin-top: 50px;
    /* border-radius: 20px; */
  }
  .contact-us__form .contact__title{
    margin-bottom: 8rem;
  }
  .contact-us__form .contact-us__title{
    font-size: 2.8rem;
    margin-top: 0;
  }
  /* title */
  .contact-us__title h2{
    font-size: 3.5rem;
  }
  .contact-us__title h4{
    font-size: 2.8rem;
  }
}