/* Add font face */
@import url('/css/font.css');

/* ------------------------Css Reset */
*
,*::before
,*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* ---------------------Root variable */
:root{
  --color-navbar: #F8F8F8;
  --color-primary: #FF5722;
  --color-secondary-dark: #FFA589;
  --color-secodary-light: #FFF6F2;
  --color-heading: #000000;
  --color-body: #333333;
  --color-white: #FFFFFF;
  --color-badge-primary: #FE4E00;
  --color-badge-secondary: #FFF6F2;
}
/* -------------------------Font size */
html{
  font-size: 62.5%;
}

/* ------------------------------body */
body{
  color: var(--color-body);
  font-size: 1.4rem;
}
/* end body--------------------------- */

/* ---------------------------heading */
h1
,h2
,h3{
  color: var(--color-heading);
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
}
h2
,h3{
  font-size: 2.2rem;
  font-weight: 700;
}


/*responsive for font-size */
@media screen and (min-width:1024px){
  body{
    font-size: 1.8rem;
  }
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 3.5rem;
  }
  h3{
    font-size: 2.8rem;
  }
}
/* end heading--------------------- */


/* -------------------------Button */
.btn{
  outline: 0;
  border: 0;
  border-radius: 8px;
  padding: 2rem 2.5rem;
  cursor: pointer;
  margin: 1rem 0;
  font-family: "Vazirmatn";
  white-space: nowrap;
  font-size: 1.4rem; 
}
.btn--primary{
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary{
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

/* buttons in plan section */
.btn-block{
  width: 100%;
  font-size: 1.6rem;
}

/* responsive button */
@media screen and (min-width:1024px){
  .btn{
    font-size: 1.6rem;
  }
  .btn-block{
    font-size: 2rem;
  }
}
/* end button------------------------- */

/* ------------------------------Badge */
.badge{
  display: inline-block;  
  outline: 0;
  border-radius: 32px;
  cursor: pointer;
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  font-weight: 500;

  text-align: center;
  text-transform: uppercase;
}
.badge--primary{
  background-color: var(--color-badge-primary);
  color: var(--color-white);
}
.badge--secondary{
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-badge-secondary);
}

/* responsive badge */
@media screen and (min-width:1024px){
  .badge{
    font-size: 1.4rem;
  }
}

