/* Add font face */
@import url('/css/font.css');

/* ------------------------Css Reset */
*
,*::before
,*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* list-style-type: none; */
}

/* ---------------------Root variable */
:root{
  --color-navbar: #F8F8F8;
  --color-primary: #FF5722;
  --color-primary-light: #FF7A50;
  --color-secondary-dark: #FFA589;
  --color-secodary-light: #FFF6F2;
  --color-heading: #000000;
  --color-body: #333333;
  --color-white: #FFFFFF;
  --color-badge-primary: #f06f38;
  --color-badge-secondary: #FFF6F2;
}
/* -------------------------Font size */
html{
  font-size: 62.5%;
}

/* ------------------------------body */
body{
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}
/* end body--------------------------- */

/* ---------------------------heading */
h1
,h2
,h3{
  color: var(--color-heading);
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
}
h2
,h3{
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}


/*responsive for font-size */
@media screen and (min-width:1024px){
  body{
    font-size: 1.8rem;
  }
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
  h3{
    font-size: 2.8rem;
  }
}
/* end heading--------------------- */


/* -------------------------Button */
.btn{
  outline: 0;
  border: 0;
  border-radius: 8px;
  padding: 2rem 2.5rem;
  cursor: pointer;
  margin: 1rem 0;
  font-family: "Vazirmatn";
  white-space: nowrap;
  font-size: 1.4rem; 
}
.btn--primary{
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary{
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

/* buttons in plan section */
.btn-block{
  width: 100%;
  font-size: 1.6rem;
}

/* responsive button */
@media screen and (min-width:1024px){
  .btn{
    font-size: 1.6rem;
  }
  .btn-block{
    font-size: 2rem;
  }
}
/* end button------------------------- */

/* ------------------------------Badge */
.badge{
  display: inline-block;  
  outline: 0;
  border-radius: 32px;
  cursor: pointer;
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  font-weight: 500;

  text-align: center;
  text-transform: uppercase;
}
.badge--primary{
  background-color: var(--color-primary);
  color: var(--color-white);
}
.badge--secondary{
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-badge-secondary);
}

/* responsive badge */
@media screen and (min-width:1024px){
  .badge{
    font-size: 1.4rem;
  }
}
/* end badge------------------------------- */

/* -----------------------------------List */
.list{
  list-style: none;
  font-size: 1.8rem;
}
 .list--tick .list__item{
  background: url("/assets/images/Tick-Square.svg") no-repeat;
  background-position: right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
 }
 @media screen and (min-width:1024px) {
    .list{
      font-size: 2rem;
      margin-bottom: 2rem;
    }
 }
 /* end list----------------------------- */

 /* --------------------------------Plan */
 .block-plans{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,320px));
  justify-content: center;
  gap: 10rem 6rem;
  margin-top: 5rem;
  margin: 0 auto;
}
.container{
  max-width: 1140px;
}
.plan{
  font-size: 1.8rem;
  transition: all 0.3s;
}
.card{
  box-shadow: 0 0 20px 10px #eec6c6;
  border-radius: 20px;
  overflow: hidden;
}
.card--secondary .card__header{
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
.card--primary .card__header{
  background-color: var(--color-primary-light);
  color: var(--color-white);
}
.plan__body{
  background-color: var(--color-secodary-light);
 }
 .card__header
 ,.plan__body{
  padding: 2.5rem 3rem;
 }
 
 /* detail plan header */
.plan__introduction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
 }
 .plan__price{
  font-size: 2.8rem;
 }
 .plan__payment{
  font-size: 1.4rem;
 }
 .plan__description{
  display: block;
  margin-top: 1.5rem;
 }

 /*detail plan body  */
.plan .btn-block{
  font-size: 1.6rem;
  margin-top: 10rem;
}
/* detail paln */
.plan:hover{
  transform: scale(1.05);

}
.plan--popular:hover{
  transform: scale(1.15);
}
.plan--popular{
  transform: scale(1.1);
}
/* responsive plan */
 @media screen and (min-width:1024px){
 
  .plan .btn-block{
    font-size: 1.8rem;
  }
 }
/* end plan----------------------------------- */


/* ------------------------------------feature */
.feature{
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
  align-items: center;
}
.feature__image img{
 width: 70%;
 height: auto;
  margin-bottom: 2rem;
} 
.feature__detail .feature__text{
  font-size: 1.4rem;
  margin-bottom: 2rem;
} 
.feature .btn{
  padding: 1rem 3rem;
}
@media screen and (min-width:1024px){
  .feature{
    grid-template-columns: repeat(2,1fr);
    /* display: flex; */
    padding-right: 2rem;
    column-gap: 2rem;
  }
  .feature__image{
    order: 1;
  }
  .feature__image img{
    width: 100%;
  }
  .feature__detail .feature__text{
    font-size: 1.8rem;
  }
}


