


<section class="contact-us  container">
  <div class="contact-us__title">
    <h2>ارتباط با ما</h2>
    <h4>شما می توانید نظرات وانتقادات خودرا برای مابفرستید</h4>
  </div>

  <!-- social media -->
  <div class="contact-us__social">
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>

  <!-- map -->
  <div class="contact-us__map">
    <img src="./assets/images/map.jpg" alt="">
  </div>

  <!-- icon -->
  <div class="contact-us__icon">
    <div class="icon-holder">
      <i class="fa-solid fa-location-dot" ><span>shiraz</span></i>
    </div>
    <div class="icon-holder">
      <i class="fa-solid fa-mobile-screen" ><span>0917123456</span></i>
    </div>
    <div class="icon-holder">
      <i class="fa-regular fa-envelope" ><span>zohrehch@gmail.com</span></i>
    </div>
  </div>

  <!-- form -->
  <div class="contact-us__form">

      <form action="#">
        <div class="form-control">
          <h3 class="contact__title">نظرات شما</h3>
        </div>
        <div class="form-control">
          <input type="text" name="name" placeholder="نام ونام خانوادگی"  autofocus>
        </div>
        <div class="form-control">
          <input type="email" name="email" placeholder="ایمیل">
        </div>
        <div class="form-control">
          <textarea name="description" id="des" rows="4" cols="50">نظرات</textarea>
        </div>
  
       <div class="form-control ">
        <button class="btn-submit">ارسال نظرات</button>
       </div>
      </form>
  </div>
 </section>