



<footer class="main-footer">

  <div class="container  footer">

  <div class="footer__item">
    <h6>تپسی</h6>
    <a href="">وبلاگ تپسی</a>
    <a href="">فرصت شغلی</a>
    <a href="">تماس با ما</a>
    <a href="">لوکو وهویت سازمانی</a>

  </div>
  <div class="footer__item">
    <h6>تپسی</h6>
    <a href="">وبلاگ تپسی</a>
    <a href="">فرصت شغلی</a>
    <a href="">تماس باما</a>
    <a href="">لوگو وهویت سازمانی</a>
  </div>
  <div class="footer__item">
    <h6>تپسی</h6>
    <a href="">وبلاگ سازمانی</a>
    <a href="">فرصت شغلی</a>
    <a href="">تماسا باما</a>
    <a href="">لوگو وهویت سازمانی</a>
  </div>
  <div class="footer__item">
    <h6>تپسی</h6>
    <a href="">وبلاگ سازمانی</a>
    <a href="">فرصت شغلی</a>
    <a href="">تماسا باما</a>
    <a href="">لوگو وهویت سازمانی</a>
  </div>
  <div class="footer__item">
    <h6>تپسی</h6>
    <a href="">وبلاگ سازمانی</a>
    <a href="">فرصت شغلی</a>
    <a href="">تماسا باما</a>
    <a href="">لوگو وهویت سازمانی</a>
  </div>
  <div class="footer__item  enamad">
    <div class="footer__enamad">
      <img src="./assets/images/enemad.png" alt="">
    </div>

    <div class="footer__enamad">
      <img src="./assets/images/enemad.png" alt="">
    </div>

    <div class="footer__enamad">
      <img src="./assets/images/enemad.png" alt="">
    </div>
  </div>
  </div>
</footer> 

