

<section class="block-plans  container">
  
  <!-- ----------------------------------------------plan secondary -->
      <div class="plan">
        <div class="card card--secondary">
          <div class="card__header">
  
            <div class="plan__introduction">
              <span class="plan__name">عادی</span>
              <span class="badge  badge--secondary">10% off</span>
            </div>
         
              <span class="plan__price">290,000</span>
              <span class="plan__payment">ماهانه/تومان</span>     
              <span class="plan__description">سرویس ماشین های معمولی</span>
          </div>
  
          <div class="plan__body">
            <div class="plan__list">
              <ul class="list  list--tick">
                <li class="list__item">کیفیت معمولی</li>
                <li class="list__item">زمان محدود</li>
                <li class="list__item">سرویس محدود</li>
              </ul>
            </div>
  
            <div class="plan__button">
              <button class="btn  btn--secondary  btn-block">ثبت سفارش</button>
            </div>
         
  
          </div>
  
        </div>
      </div>
  <!-- --------------------------------------------------plan primary -->
  
  <div class="plan plan--popular">
    <div class="card card--primary">
      <div class="card__header">
        
        <div class="plan__introduction">
          <span class="plan__name">اقتصادی</span>
          <span class="badge  badge--primary">15% off</span>
        </div>
        
        <span class="plan__price">390,000</span>
        <span class="plan__payment">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های مدل کلاسیک</span>
      </div>
      <div class="plan__body">
        <div class="plan__list">
          <ul class="list  list--tick">
            <li class="list__item">کیفیت عالی</li>
            <li class="list__item">زمان محدود</li>
            <li class="list__item">سرویس محدود</li>
          </ul>
        </div>
  
        <div class="plan__button">
          <button class="btn  btn--primary  btn-block">ثبت سفارش</button>
        </div>
  
      </div>
    </div>
  </div>
  
  <!-- ------------------------------------------------plan secondary -->
  <div class="plan">
        <div class="card card--secondary">
          <div class="card__header">
            <div class="plan__introduction">
              <span class="plan__name">ویژه</span>
              <span class="badge  badge--secondary">10% off</span>
            </div>
           
              <span class="plan__price">490,000</span>
              <span class="plan__payment">ماهانه/تومان</span>
            <span class="plan__description">سرویس ماشین های  ویژه</span>
          </div>
          <div class="plan__body">
            <div class="plan__list">
              <ul class="list  list--tick">
                <li class="list__item">کیفیت عالی</li>
                <li class="list__item">زمان نامحدود</li>
                <li class="list__item">سرویس نامحدود</li>
              </ul>
            </div>
  
            <div class="plan__button">
              <button class="btn  btn--secondary  btn-block">ثبت سفارش</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  